.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer .footer-wrapper {
    text-align: center;
    background-color: #053160;
    color: #fff;
    padding: 16px 0;
}

.footer .footer-wrapper .title {
    font-size: 30px;
}

.footer .footer-wrapper .title .copyright-icon {
    vertical-align: middle;
}