.header {
    background-color: #053160;
}

.header .toolbar {
    display: flex;
    justify-content: space-between;
}

.header .toolbar .logo-text {
    margin-right: 16px;
    font-family: monospace;
    font-weight: 70;
    letter-spacing: .1rem;
    color: inherit;
    text-decoration: none;
    font-size: 2rem;
    cursor: "pointer";
}

.header .toolbar .nav-button {
    margin: 20px;
    font-family: monospace;
    font-size: 20px;
}